.slide {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 1rem;
}

.carouselImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.description {

    width: 100%;
    height: 10px;
    color: #fff;
}

.containerDescription {
    padding: 0.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(52, 52, 52, 0.582);
    width: 100%;
}
