.login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.logo-container {
    margin-bottom: 9px;
}

.logo {
    width: 300px;
    height: auto;
    object-fit: contain;
}

.greeting {
    font-size: 25px;
    font-weight: 64;
    margin-bottom: 80px;
}

.description {
    font-size: 15px;
    color: #0e0e0e;
    margin-bottom: 50px;
}

.question {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 32px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 300px;
}

.button {
    padding: 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button.outline {
    border: 2px solid black;
    background: transparent;
    color: black;
}

.button.filled {
    background: black;
    color: #fff;
    border: none;
}