.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.title {
    color: #040404;
}

.subtitle {
    color: #01000099;
}

.image-container {
    background-color: aqua;
    padding: 1rem;
    border-radius: 0.5rem;
}