.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.title {
    color: #040404;
    font-size: 1.8rem;
    font-weight: 600;
}

.subtitle {
    color: #01000099;
    font-size: 1.4rem;
    font-weight: 500;
}

.avatar {
    max-width: 3rem;
    height: auto;
    border-radius: 2rem;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputSearch {
    padding: 1rem;
    width: 90%;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.1rem;
}

.iconFilter {
    color: #cccccc;
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}